/////////////////////////////////////////////////////////
// Home Page: /                                        //
/////////////////////////////////////////////////////////

// Overides for home page here
body {
	background: $primary url(/img/backgrounds/dyer-skinner-son-of-a-bitch.jpg) fixed no-repeat center center;
	background-size: cover;

}
.home {
	min-height: 200vh;

	.row {
		margin: 0 $grid-gutter-width-base;
	}
	.hero {
		background: rgba(255,255,255,1);
		max-width: 30em;
		border-radius: 2em;
		margin: $grid-gutter-width-base*2 auto;
		padding: $grid-gutter-width-base;
		padding-bottom:$grid-gutter-width-base/2;
		// text-align:center;
		.cta {
			margin-top: 1em;
		}
		.btn {
			margin-top: .5em;
		}
	}

	.credits {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		padding: $grid-gutter-width-base;
		h1 {
			position: absolute;
			bottom:$grid-gutter-width-base;

		}
		.artist {
			display: none;
			position: absolute;
			bottom:$grid-gutter-width-base/2;
			right:$grid-gutter-width-base/2;
			a {
				color: white;
				font-weight: bold
			}
		}
	}
}